.button__red {
  width: 304px;
  height: 80px;
  background-color: $strawberry-two;
  position: relative;
  @include anim(0.2s);

  &:hover {
    @include scale(1.05);
  }
}
.button__grey {
  width: 209px;
  height: 56px;
  background-color: rgba(138, 138, 138, 0.26);
  @include anim(0.2s);

  &:hover {
    @include scale(1.05);
  }
}
