.wrapper {
  // overflow: hidden;   нельзя! не работают stiky
  @include fdc;
  min-height: 100vh;
}

.page {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  @include fdc();
}
.container {
  outline: 1px solid #4164ff;
  padding: 0 0 0 0;
  // width: 60.41666666666%; 
  // margin: 0 auto; 
  // position: relative;
  // z-index: 2;
 
// @media (min-width: 841px) and (max-width:  1770px) {
// width: 80%; 
//     padding-left: 30px ;
//     padding-right: 30px ;

// }

//   @media screen and (max-width:  840px) { 
//   width: 100%; 
//     padding-left: 15px ;
//     padding-right: 15px ;
//     }  

}

.row{
  // outline: 1px solid #55FFCF;
}

.ibg { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img{
    width: 100%;
    height: 100%;
  }
}

a {
  // @include center();
  // width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
  }
}

.img-svg {
  width: 30px;
  height: 30px;
}

.lock {
  overflow: hidden;
}
.icon{
  width: 30px;
  height: 30px;
}
.active{
  opacity: 1;
visibility: visible;
display: block;

 }
// ------------------------------------------------
h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
  span{
     font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
    color: $strawberry-two;
  }
}


h5 {
  font-family: Poppins; 
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #0d0d0d;
}




