.work {
  .work__wrapper {
    width: 100%;
    height: 100%;
    .work__body {
      width: 100%;
      height: 100%;
      .work__item {
        margin: 40px 20px 40px 0;
        .item__img {
          padding: 0 10px 0 0;
        }
        .item__column {
          padding: 0 0 0 40px;
          .item__title {
            flex: 0 1 100%;
          }
}}}}}
