@import "../utils/mixins";



// ----------------------------------
.porttem {
  &__wrapper {
    width: 100%;
    position: relative;
    background-color: $white-two;
    padding: 9px 0 190px 0;
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;

    .porttem-plaza__column {
      width: 379px;
      height: 394px;
      background-color: rgba(255, 255, 255, 0.33);
      margin: 19px 0 0 0;
      padding: 0 0 20px 0;
      .porttem-plaza__line {
        padding: 0 0 34px 0;
        &:nth-child(3) {
          .porttem-plaza__tile {
            margin: 0 9px 20px 0;
          }
        }
      }
      .porttem-plaza__tile {
        margin: 2px 38px 0 0;
      }

      .porttem-plaza__return {
        width: 114px;
        height: 37px;
        background-color: rgba(255, 255, 255, 0.7);
        @include center();
        margin: -10px 0 0 -20px;
      }
    }
    .porttem__frame {
      position: absolute;
      width: 248px;
      height: 496px;
      top: 82px;
      left: 647px;
    }
  }
}

// ----------------------------------
.about {
  &__wrapper {
    width: 100%;
    //  height: 500px;
    position: relative;
    background-color: #0e0e0e;
    .container-fluid {
      padding: 0 22px;
    }
    .sticky-container {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .about__sliding-container {
      position: absolute;
      width: 80vw;
      top: 0%;
      left: 0%;
      white-space: nowrap;
    }
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4% 0;
    @include media-breakpoint-down(sm) {
      padding: 25% 0 4%;
    }
    .about__button {
      position: absolute;
      top: 11.5%;
      right: 9.2%;
      @include media-breakpoint-down(sm) {
        top: 5%;
      }
    }
  }
  .about__plaza {
    margin: 336px 0 0 0;
    @include media-breakpoint-down(md) {
      margin: 90px 0 0 0;
    }
    .about__discription {
      p {
        padding: 0 127px 16px 0;
        @include media-breakpoint-down(lg) {
          padding: 0;
        }
      }
    }
  }
  .about-plaza__body {
    padding: 102px 0 0 0;
    .about-plaza__column {
      &_high {
        position: relative;
        .about-plaza__item {
          position: absolute;
          width: 222px;
          height: 240px;
          top: -214px;
          left: 0%;
          transform: translate(127px);
          @media (max-width: 1370px) {
            top: -168px;
            transform: translate(106px);
          }
          &:last-child {
            transform: translate(381px);
            @media (max-width: 1370px) {
              transform: translate(317px);
            }
          }
        }
      }
    }

    .about-plaza__item {
      height: 240px;
      margin: 0 32px 0 0;
      img {
        width: 222px;
        height: 100%;
        @media (max-width: 1370px) {
          width: 180px;
          height: 200px;
          margin: 0;
        }
      }
    }
  }
}

// ------.footer-------------
// ------.footer-------------
// ------.footer-------------
// ------.footer-------------
// ------.footer-------------
.footer {
  .footer__wrapper {
    position: relative;
    width: 100%;
    height: 800px;
    .footer__body {
      width: 100%;
      height: 100%;
      padding-top: 157px;
    }
    .footer__title {
      position: relative;
      padding: 0 0 45px 0;
      letter-spacing: 1px;
    }
    .footer__discription {
      position: relative;
      padding: 20px 35px 0 0;
      letter-spacing: 0.2px;
    }
    .footer__button {
      margin: 36px 0 0 266px;
    }
    .footer__plaza {
      width: 100%;
      padding-top: 146px;
    }
    .footer-plaza {
      &__body {
        width: 100%;
        height: 100%;
      }
      &__item {
        .footer-plaza__logo {
          position: relative;
          width: 115px;
          height: 43px;
          margin: 0 0 42px 0;
        }
        .footer-plaza__text1 {
          display: block;
          flex: 0 1 100%;
          height: auto;
          padding: 25px 0 0 154px;
          @include anim(0.3s);
          line-height: 1.5;
          &:first-child {
            padding: 0 0 0 154px;
          }
          &:hover {
            color: $strawberry-two;
          }
        }
        &:first-child {
          .footer-plaza__text {
            padding: 0 0 25px 30px;
            position: relative;
            &:after {
              content: "";
              background-color: $strawberry-two;
              position: absolute;
              width: 18px;
              height: 18px;
              left: 0;
              z-index: 2;
              top: 0%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

// --------------------------

.work {
  .work__wrapper {
    width: 100%;
    height: 100%;
    .work__body {
      width: 100%;
      height: 100%;
    }
    .work__item {
      margin: 40px 20px 40px 0;
      .item__img {
        min-width: 59px;
      }
      .col-md-10 {
        padding: 0 0 0 20px;
        .item__title {
          flex: 0 1 100%;
        }
      }
    }
  }
}

// --------------
.work {
  &__wrapper {
    width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__title {
    background-color: #9e9e9e;
  }
}

.try {
  &__wrapper {
    width: 100%;
    height: 500px;
    position: relative;
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
