@import "variables";
@import "mixins";


// @font-face {
// font-family: Montserrat;
// src:
// local(Montserrat-Regular),
// url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
// url('/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
// url('/assets/fonts/Montserrat-Regular}') format('embedded-opentype'),
// url('/assets/fonts/Montserrat-Regular.svg  ') format('svg'),
// url('/assets/fonts/Montserrat-Regular.otf  '),
// url('/assets/fonts/Montserrat-Regular.eot  ');
// font-weight: normal;
// font-style: normal;
// font-stretch: normal;
// }

// @font-face {
// font-family: Montserrat-SemiBold;
// src:
// local(Montserrat-SemiBold),
// url('/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
// url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
// url('/assets/fonts/Montserrat-SemiBold}') format('embedded-opentype'),
// url('/assets/fonts/Montserrat-SemiBold.svg  ') format('svg'),
// url('/assets/fonts/Montserrat-SemiBold.otf  '),
// url('/assets/fonts/Montserrat-SemiBold.eot  ');
// font-weight: normal;
// font-style: bold;
// font-stretch: normal;
// }

@font-face {
font-family: DMSans;
src:
local(DMSans-Bold),
url('/assets/fonts/DMSans-Bold.woff') format('woff'),
url('/assets/fonts/DMSans-Bold.ttf') format('truetype'),
url('/assets/fonts/DMSans-Bold}') format('embedded-opentype'),
url('/assets/fonts/DMSans-Bold.svg  ') format('svg'),
url('/assets/fonts/DMSans-Bold.otf  '),
url('/assets/fonts/DMSans-Bold.eot  ');
font-weight: bold;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: DMSans;
src:
local(DMSans-Medium),
url('/assets/fonts/DMSans-Medium.woff') format('woff'),
url('/assets/fonts/DMSans-Medium.ttf') format('truetype'),
url('/assets/fonts/DMSans-Medium}') format('embedded-opentype'),
url('/assets/fonts/DMSans-Medium.svg  ') format('svg'),
url('/assets/fonts/DMSans-Medium.otf  '),
url('/assets/fonts/DMSans-Medium.eot  ');
font-weight: medium;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: DMSans;
src:
local(DMSans-Regular),
url('/assets/fonts/DMSans-Regular.woff') format('woff'),
url('/assets/fonts/DMSans-Regular.ttf') format('truetype'),
url('/assets/fonts/DMSans-Regular}') format('embedded-opentype'),
url('/assets/fonts/DMSans-Regular.svg  ') format('svg'),
url('/assets/fonts/DMSans-Regular.otf  '),
url('/assets/fonts/DMSans-Regular.eot  ');
font-weight: 500;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: Poppins;
src:
local(Poppins),
url('/assets/fonts/Poppins-Bold.woff') format('woff'),
url('/assets/fonts/Poppins-Bold.ttf') format('truetype'),
url('/assets/fonts/Poppins-Bold}') format('embedded-opentype'),
url('/assets/fonts/Poppins-Bold.svg  ') format('svg'),
url('/assets/fonts/Poppins-Bold.otf  '),
url('/assets/fonts/Poppins-Bold.eot  ');
font-weight: bold;
font-style: normal;
font-stretch: normal;
}


@font-face {
font-family: CeremoniousOne;
src:
local(CeremoniousOne),
url('/assets/fonts/CeremoniousOne.woff') format('woff'),
url('/assets/fonts/CeremoniousOne.ttf') format('truetype'),
url('/assets/fonts/CeremoniousOne}') format('embedded-opentype'),
url('/assets/fonts/CeremoniousOne.svg  ') format('svg'),
url('/assets/fonts/CeremoniousOne.otf  '),
url('/assets/fonts/CeremoniousOne.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}


@font-face {
font-family: icomoon;
src:
local(icomoon),
url('/assets/fonts/icomoon.woff') format('woff'),
url('/assets/fonts/icomoon.ttf') format('truetype'),
url('/assets/fonts/icomoon}') format('embedded-opentype'),
url('/assets/fonts/icomoon.svg  ') format('svg'),
url('/assets/fonts/icomoon.otf  '),
url('/assets/fonts/icomoon.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times-solid:before {
  content: "\e900";
}
.icon-bars-solid:before {
  content: "\e901";
}







.Text-Style-6 {
  font-family: DMSans;
  font-size: 300px;
  font-weight: 500;
  color: #181818;
}
.Text-Style-2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
}
.Text-Style-10 {
  font-family: DMSans;
  font-size: 36px;
  font-weight: 500;
  color: $white;
}
.Text-Style-8 {
  font-family: DMSans;
  font-size: 36px;
  font-weight: 500;
  color: $strawberry-two;
}
.Text-Style {
  font-family: DMSans;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.52;
  color: $pinkish-grey-two;
}
.Text-Style-3 {
  font-family: DMSans;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
  color: $white;
}
.Text-Style-9 {
  font-family: DMSans;
  font-size: 18px;
  line-height: 1.44;
  color: $white;
}
.Text-Style-7 {
  font-family: DMSans;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.14px;
  color: $white;
}
.Text-Style-5 {
  font-family: DMSans;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: $white;
}
.Text-Style-4 {
  font-family: DMSans;
  font-size: 14px;
  letter-spacing: 0.26px;
  color: $white;
}

.Text-Style-11 {
  font-family: DMSans;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.44;
  color: $black-two;
}

.Text-Style-12 {
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #0d0001;
}

.Text-Style-13 {
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  color: $pinkish-grey;
}

.Text-Style-14 {
  font-family: DMSans;
  font-size: 14px;
  font-weight: 500;
  color: #0d0001;
}

.Text-Style-15 {
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: $white;
}

.Text-Style-16 {
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.81);
}

@mixin Text-Style-17 {
  font-family: DMSans;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: $black;
}
.Text-Style-17 {
  font-family: DMSans;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: $black;
}














// @mixin Text-Style-1{
//   font-family: Montserrat;
// font-style: normal;
// font-weight: 300;
// font-size: 14px;
// line-height: 17px;
// color: #FFFFFF;
// };
// @mixin Text-Style-2{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 20px;
// line-height: 141%;
// text-align: right;
// color: #FFFFFF;
// };
// @mixin Text-Style-3{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 28px;
// line-height: 156.7%;
// color: #FFFFFF;
// };
// @mixin Text-Style-4{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 0.5;
// color: #FFFFFF;
// opacity: 0.8;
// };
// @mixin Text-Style-5{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 18px;
// line-height: 141%;
// text-align: center;
// color: #FFFFFF;
// };
// @mixin Text-Style-6{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 28px;
// line-height: 1;
// text-align: center;
// color: #FFFFFF;
// };
// @mixin Text-Style-7{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 15px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-8{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 600;
// font-size: 20px;
// line-height: 140%;
// color: #262B3F;
// };
// @mixin Text-Style-9{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 12px;
// line-height: 140%;
// color: #000000;
// opacity: 0.6;
// };
// @mixin Text-Style-10{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 17px;
// line-height: 130%;
// color: #FFFFFF;
// };

// @mixin Text-Style-11{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 13px;
// line-height: 16px;
// color: #FFFFFF;
// opacity: 0.8;
// };

// @mixin Text-Style-12{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 13px;
// line-height: 130%;
// display: flex;
// align-items: center;
// color: #FFFFFF;
// opacity: 0.85;
// };
// @mixin Text-Style-13{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 130%;
// color: #FFFFFF;
// opacity: 0.85;
// };
// @mixin Text-Style-14{
//   font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 11px;
// line-height: 130%;
// color: #FFFFFF;
// opacity: 0.85;
// };
// @mixin Text-Style-15{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 500;
// font-size: 16px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-16{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 600;
// font-size: 15px;
// line-height: 130%;
// color: #FFFFFF;
// opacity: 0.9;
// };
// @mixin Text-Style-17{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-18{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 600;
// font-size: 18px;
// line-height: 140%;
// text-align: center;
// color: #FFFFFF;
// };
// @mixin Text-Style-19{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 12px;
// line-height: 140%;
// color: #262B3F;
// opacity: 0.7;
// };
// @mixin Text-Style-20{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 13px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-21{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-22{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 140%;
// text-align: center;
// color: #FFFFFF;
// };
// @mixin Text-Style-23{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 300;
// font-size: 16px;
// line-height: 140%;
// color: #FFFFFF;
// opacity: 0.8;
// };
// @mixin Text-Style-24{
// font-family: Montserrat;
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 130%;
// color: #FFFFFF;
// };
// @mixin Text-Style-25{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 11px;
// line-height: 140%;
// color: #FFFFFF;
// opacity: 0.75;
// };
// @mixin Text-Style-11{

// };
// @mixin Text-Style-11{

// };
// @mixin Text-Style-11{

// };
// @mixin Text-Style-11{

// };
