// $colos: 11%;
// $colos: 1vw;
// $media: 800px; 
// $media1: 800px; 
// $media2: 700px; 
// $media3: 800px; 
// $media4: 500px; 
// $media5: 900px;

// -----так прописать цвета. потом использовать  color: theme-color("black2");------
// $theme-colors: (
//   "white": #fff,
//   "black": #000,
//   "black2": #0d0d0d,
//   "black3": #181818,
//   "blue": #2980b9,
//   "red": #fa333c,
//   "gray": #0e0e0e,
//   "gray2": #1f1f1f,
//   "gray3": #fafafa,
//   "gray4": #bebbbb,
//   "gray5": #f6f6f6,
//   "gray-light": #f1f1f1,
// );

$white: #ffffff;
$white-two: #f1f1f1;
$dark-grey: #2e3032;
$white-two-58: rgba(241, 241, 241, 0.58);
$strawberry: #fd3034;
$black: #000000;
$black-two: #0d0d0d;
$greyish-brown: #404040;
$black-three: #333333;
$strawberry-two: #fa333c;
$aqua-blue: #00e1e0;
$pinkish-grey: #c2c1c1;
$bright-light-blue: #32c5ff;
$strawberry-three: #fa333d;
$yellow-orange: #f7b500;
$dark-mint: #4bcf73;
$bluish-purple: #8835e7;
$coral: #ff4141;
$white-three: #d8d8d8;
$black-two-82: rgba(13, 13, 13, 0.82);
$black-two-91: rgba(13, 13, 13, 0.91);
$pinkish-grey-two: #bebbbb;