//- подключаем везде
include ../utils/mixins

//- сделал оверлей поверх меню на <768. по оверлею-закрытие. он прозрачный. z-index: 1. чтобы ссылки были поверх него им индекс немного больше. вообще все кликабельное-- сквезь него индексами.


#header.header
  .header__logo
    img(src = "assets/img/img-41.jpg", alt = "img")
  #header__menu.header__menu
    .header__menu_overlay
    ul
      li
        a.header__link(href='#!') portfolio
      li
        a.header__link(href='#!') about us
      li
        a.header__link(href='#!') team
      li
        a.header__link(href='#!') partners
      li
        a.header__link(href='#!') contacts
    span.icon-close2
  .header__phone наш телефон +309856565656
  span.header__burger.icon-menu
.up_down_btn(title='Наверх') ↑