//- подключаем везде
include ../utils/mixins


section#test.test
  .test__wrapper
    .container
      .test__body
        h1 h1h1h1h1h111h1h
        .test__discription discription
        .test__plaza.test-plaza
          .test-plaza__body
            .ibg.bg
              img(src="assets/img/img_parallax.jpg",alt="img")
            .test-plaza__item шип работает
            .test-plaza__item просто текст lorem
            .test-plaza__item просто текст lorem







