include ../utils/mixins-work


//- section#porttem.porttem
//-   .porttem__wrapper
//-     .container
//-       .porttem__body.row.no-gutters.flex-column
//-         .porttem__title 
//-           span.Text-Style-8 R
//-           span.Text-Style-11 entorr
//-         .porttem__plaza.porttem-plaza.no-gutters.pt-4
//-           .porttem-plaza__body.col-md-4.row.no-gutters
//-             .porttem__button.mr-4
//-               +button-white("Read case info")
//-             .porttem__button 
//-               +button-white("Desktop version")
//-             .w-100
//-             .porttem-plaza__column.col-md-12.row.no-gutters.pt-5.pb-5.pl-4
//-               .porttem-plaza__line.col-md-12.row.no-gutters
//-                 .porttem-plaza__title.Text-Style-13.pb-3 Services  
//-                 .w-100
//-                 .porttem-plaza__tile.row.no-gutters.align-items-center
//-                   .porttem-plaza__img.mr-2
//-                     img(src="assets/img/work/work-svg-1.svg",alt="img")
//-                   .porttem-plaza__text.Text-Style-14 Design
//-                 .porttem-plaza__tile.row.no-gutters.align-items-center
//-                   .porttem-plaza__img.mr-2
//-                     img(src="assets/img/work/work-svg-2.svg",alt="img")
//-                   .porttem-plaza__text.Text-Style-14 Frontend
//-                 .porttem-plaza__tile.row.no-gutters.align-items-center
//-                   .porttem-plaza__img.mr-2
//-                     img(src="assets/img/work/work-svg-3.svg",alt="img")
//-                   .porttem-plaza__text.Text-Style-14 Backend 
//-               .porttem-plaza__line.col-md-12.row.no-gutters
//-                 .porttem-plaza__title.Text-Style-13.pb-3 Platforms 
//-                 .w-100
//-                 +tile-work("Desktop")
//-                 +tile-work("Mobile")
//-               .porttem-plaza__line.col-md-12.row.no-gutters 
//-                 .porttem-plaza__title.Text-Style-13.pb-3 Tags 
//-                 .w-100
//-                 .col-4
//-                   +tile-work("Responsive")
//-                 .col-4
//-                   +tile-work("Dashboard")
//-                 .col-4
//-                   +tile-work("Highload")
//-                 .w-100
//-                 .col-4
//-                   +tile-work("WEB-Service")
//-                 .col-4
//-                   +tile-work("Concepts")
//-                 .col-4
//-                   +tile-work("Ecommerce")
//-               .porttem-plaza__line.col-md-12.row.no-gutters.mb-4.mt-1
//-                 a.porttem-plaza__link(href="#!").col-md-auto.mr-3
//-                   img(src="assets/img/work/ball.svg",alt="img")
//-                 a.porttem-plaza__link(href="#!").col-md-auto.mr-3
//-                   img(src="assets/img/work/be.svg",alt="img")
//-                 .porttem-plaza__button.col-md-auto.ml-2
//-                   +button-black("See Live Site")
//-               a.porttem-plaza__return.Text-Style-16(href="#!") To portfolio
//-         .porttem__frame
//-           img(src="assets/img/work/iphone.png",alt="img")


//- section#about.about
//-   .about__wrapper
//-     #sliding.about__sliding-container
//-       #sliding-title.about__title.Text-Style-6 About us
//-     .container-fluid 
//-       .about__body.row.no-gutters.flex-column
//-         .about__button 
//-           +button-grey("Know more")

//-         +sticky("А","bout us")  
//-         .about__plaza.about-plaza.row.no-gutters
//-           .about-plaza__body.col-xl-7.col-lg-9
//-             .about-plaza__column.about-plaza__column_high.row.no-gutters
//-               .about-plaza__item
//-                 img(src="assets/img/work/clutch.png",alt="img")
//-               .about-plaza__item.d-none.d-md-block
//-                 img(src="assets/img/work/polygon.png",alt="img")
//-             .w-100
//-             .about-plaza__column.row.no-gutters
//-               .about-plaza__item.d-none.d-sm-block 
//-                 img(src="assets/img/work/polygon.png",alt="img")
//-               .about-plaza__item
//-                 img(src="assets/img/work/upwork.png",alt="img")
//-               .about-plaza__item.d-none.d-md-block
//-                 img(src="assets/img/work/polygon.png",alt="img")
//-           .about__discription.col-lg-3.col-xl-5.px-5.px-lg-0 
//-             p.Text-Style-9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas   varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim   justo. Vestibulum aliquam hendrerit molestie.
//-             p.Text-Style-9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas   varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim   justo. Vestibulum aliquam hendrerit molestie.   

//- -------------------footer#footer.footer--------------------------------------
//- -------------------footer#footer.footer--------------------------------------
//- -------------------footer#footer.footer--------------------------------------
//- -------------------footer#footer.footer--------------------------------------
//- footer#footer.footer
//-   .footer__wrapper
//-     .ibg.bg
//-       img(src="assets/img/work/footer-bg.png",alt="img")
//-     .container
//-       .footer__body.row.no-gutters
//-         .footer__title.col-6
//-           h2 Let<span>’</span>s Talk
//-           .footer__discription.Text-Style We collaborate with ambitious people and brands. Let's chat about what we can do for you.
//-         .footer__button
//-           +button-red("Drop us a line")
//-         .w-100
//-         .footer__plaza.footer-plaza.col-md-12
//-           .footer-plaza__body.row.no-gutters.justify-content-between
//-             .footer-plaza__item.col-md-4.mr-auto
//-               .footer-plaza__logo
//-                 img(src="assets/img/work/logo-dark.svg",alt="")
//-               .footer-plaza__text.Text-Style-4 Victor Chmilenko 47, Kropyvnytskyi, 25006
//-               .footer-plaza__text.Text-Style-4 097 700 3001
//-               .footer-plaza__text.Text-Style-4 info@splitdev.pro
//-             +plaza-item("Portfolio","Capabilities","Work process","About us","Contact us") 
//-             +plaza-item("Dribbble","Behance","Instagram","Facebook","LinkedIn") 
//- ------------------section#work.work---------------------------------
//- ------------------section#work.work---------------------------------
//- ------------------section#work.work---------------------------------
//- ------------------section#work.work---------------------------------
//- section#work.work
//-   .work__wrapper 
//-     .work__body.container 
//-       .row.no-gutters.justify-content-around.justify-md-content-center.bg-success
//-         +work-item("work__item","assets/img/work/tie.svg","434","Works witn happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","134"," happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","134","Works wiustomers") 
//-         +work-item("work__item","assets/img/work/tie.svg","144","Works rs") 
//-         +work-item("work__item","assets/img/work/tie.svg","134","Works witn happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","34","Works witn happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","134","Works wy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","139994","Works witn happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","94","Wo happy customers") 
//-         +work-item("work__item","assets/img/work/tie.svg","134","Works witn happers")






//- --------------section#try.try-------------------------
//- --------------section#try.try-------------------------
//- --------------section#try.try-------------------------
//- --------------section#try.try-------------------------
//- mixin list[img,title,text]
//-   each item in items
//-     .try-plaza__item.col-md-4.bg-secondary.row.no-gutters.align-items-center.py-2.pl-2.mb-5
//-       .try-plaza__img.col-2
//-         img(src=img,alt="img")
//-       .col-10.pl-3
//-         .try-plaza__title 
//-           h2=title
//-         .try-plaza__description.Text-Style-4=text







//- код неудобный потому как внутри цикла ничего не поменять. миксины удобнее!!!
section#try.try
  .try__wrapper.bg-info
    .container
      .try-plaza__body.row.no-gutters.justify-content-around.bg-success.py-4
        each item in tryitem 
          .try-plaza__item.col-md-4.bg-secondary.row.no-gutters.align-items-center.py-2.pl-2.mb-5
            .try-plaza__img.col-2
              img(src=item.img,alt="img")
            .col-10.pl-3
              .try-plaza__title 
                h2=item.title
              .try-plaza__description.Text-Style-4=item.text


//-  миксины удобнее!!!
section#try.try
  .try__wrapper.bg-info
    .container
      .try-plaza__body.row.no-gutters.justify-content-around.bg-success.py-4
        +try-item("assets/img/work/tie.svg","12345","samething")
        +try-item("assets/img/work/tie.svg","12345","samething")
        .w-100
        +try-item("assets/img/work/tie.svg","12345","samething")
        +try-item("assets/img/work/tie.svg","12345","samething")
        .w-100
        +try-item("assets/img/work/tie.svg","12345","samething")
        +try-item("assets/img/work/tie.svg","12345","samething")






//- https://html5css.ru/bootstrap4/bootstrap_ref_all_classes.php
//- .d-none
//- .d-inline 
//- .d-block 
//- .d-inline-block
//- .d-table
//- .d-table-cell
//- .d-flex
//- .d-inline-flex
//- .d-block
//- .d-xl-none
//- .
//- .d-sm-none
//- .d-md-none
//- .d-lg-none
//- .d-xl-none
//- .
//- .container-fluid
//- .
//- .col-xl-
//- .col-lg-
//- .col-md-
//- .col-sm-
//- .col-

//- .clearfix
//- .w-25
//- .w-50
//- .w-75
//- w-100

//- -ширина по содержимому
//- .col-auto
//- .col-sm-auto
//- .
//- .flex-column
//- .
//- .align-items-center
//- .align-items-md-center
//- .align-self-start
//- .align-self-center
//- .align-items-end
//- .align-self-end
//- .
//- .justify-content-start
//- .justify-content-center
//- .justify-content-end
//- .justify-content-around
//- .justify-content-between
//- .justify-md-content-between
//- .
//- .w-100
//- .no-gutters
//- .offset-4
//- .offset-md-4
//- .
//- .order-md-12 ----- но будет отображаться последним
//- .order-md-last
//- .order-xl-first
//- .text-nowrap
//- .text-truncate
//- .text-lowercase
//- .text-uppercase
//- .text-uppercase
//- .text-center
//- .text-md-center
//- .font-italic
//- .font-weight-bold
//- .font-weight-light
//- .
//- .text-decoration-none
//- .text-hide
//- .text-right
//- .text-left
//- .
//- .m-auto
//- .ml-auto
//- .mr-auto
//- .mt-auto
//- .mb-auto
//- .mt-{breakpoint}-auto
//- .
//- .m-# / m-*-#	числом от 0 до 5	
//- .mt-# / mt-*-#	
//- .mb-# / mb-*-#	
//- .ml-# / ml-*-#	
//- .mr-# / mr-*-#	
//- .mx-# / mx-*-#	Адаптивные левый и правый поля автоматических (горизонтальных)
//- классов. * can be sm, md, lg or xl. # может быть числом от 0 до 5	
//- .my-# / my-*-#

//- .bg-primary
//- .bg-secondary
//- .bg-success 
//- .bg-info
//- .bg-warning
//- .bg-danger
//- .bg-light
//- .bg-dark
//- .bg-white
//- .
//- .text-primary
//- .text-secondary
//- .text-success
//- .text-info
//- .text-warning
//- .text-danger
//- .text-light
//- .text-dark
//- .text-white
//- .
//- .shadow
//- .
//- .spinner-border 
//- .spinner-border-sm
//- .spinner-grow 
//- .spinner-grow-sm
//- .
//- .btn-primary
//- .btn-secondary
//- .btn-success 
//- .btn-info
//- .btn-warning
//- .btn-danger
//- .btn-light
//- .btn-dark
//- .btn-link
//- .btn-outline-primary
//- .btn-outline-secondary
//- .btn-outline-success
//- .btn-outline-info
//- .btn-outline-warning
//- .btn-outline-danger
//- .btn-outline-light
//- .btn-outline-dark
//- .
//- .primary   #007BFF
//- .secondary #6C757D
//- .success   #28A745
//- .danger    #DC3545
//- .warning   #FFC107
//- .info      #17A2B8
//- .light     #F8F9FA
//- .dark      #343A40
//- .white     #FFFFFF
//- .transparent

