mixin work-item(name,img,title,text)
  div(class="item col-md-4 row no-gutters " + name)
    .item__img.col-sm-12.col-md-2.align-self-center
      img(src=img,alt="img")
    .item__column.col-md-10
      h5.item__title=title
      p.text6.item__text=text





section#work.work
  .work__wrapper 
    .work__body.container 
      .row.no-gutters
        +work-item("work__item","assets/img/work/tie.svg","434","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134"," happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works wiustomers") 
        +work-item("work__item","assets/img/work/tie.svg","144","Works rs") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","34","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works wy customers") 
        +work-item("work__item","assets/img/work/tie.svg","139994","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","94","Wo happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works witn happers")

section#work.work
  .work__wrapper
    .container
      .work__body.row.no-gutters
        h2.work__title.w-100.bg-success.row.no-gutters.align-items-center   work
        .work__discription.col-md-12.text-right work discription
        

//- d-none
//- d-inline 
//- d-block 
//- d-inline-block
//- d-table
//- d-table-cell
//- d-flex
//- d-inline-flex
//- d-block
//- d-xl-none

//- d-sm-none
//- d-md-none
//- d-lg-none
//- d-xl-none

//- container-fluid

//- col-xl-
//- col-lg-
//- col-md-
//- col-sm-
//- col-

//- clearfix
//- .w-25
//- .w-50
//- .w-75
//- w-100

//- -ширина по содержимому
//- col-auto
//- col-sm-auto

//- flex-column

//- align-items-center
//- align-items-md-center
//- align-self-start
//- align-self-center
//- align-items-end
//- align-self-end

//- justify-content-start
//- justify-content-center
//- justify-content-end
//- justify-content-around
//- justify-md-content-between

//- w-100
//- no-gutters
//- offset-4
//- offset-md-4

//- order-md-12 ----- но будет отображаться последним
//- order-md-last
//- order-xl-first
//- text-nowrap
//- text-truncate
//- text-lowercase
//- text-uppercase
//- text-uppercase
//- text-center
//- text-md-center
//- font-italic
//- font-weight-bold
//- font-weight-light

//- text-decoration-none
//- text-hide
//- text-right
//- text-left

//- m-auto
//- ml-auto
//- mr-auto
//- mt-auto
//- mb-auto
//- mt-{breakpoint}-auto

//- bg-primary
//- bg-secondary
//- bg-success 
//- bg-info
//- bg-warning
//- bg-danger
//- bg-light
//- bg-dark
//- bg-white

//- text-primary
//- text-secondary
//- text-success
//- text-info
//- text-warning
//- text-danger
//- text-light
//- text-dark
//- text-white

//- .shadow

//- spinner-border 
//- spinner-border-sm
//- spinner-grow 
//- spinner-grow-sm

//- btn-primary
//- btn-secondary
//- btn-success 
//- btn-info
//- btn-warning
//- btn-danger
//- btn-light
//- btn-dark
//- btn-link
//- btn-outline-primary
//- btn-outline-secondary
//- btn-outline-success
//- btn-outline-info
//- btn-outline-warning
//- btn-outline-danger
//- btn-outline-light
//- btn-outline-dark