mixin work-item(name,img,title,text)
  div(class="item col-md-4 row no-gutters " + name)
    .item__img.col-sm-12.col-md-2.align-self-center
      img(src=img,alt="img")
    .item__column.col-md-10
      h5.item__title=title
      p.text6.item__text=text





section#work.work
  .work__wrapper 
    .work__body.container 
      .row.no-gutters
        +work-item("work__item","assets/img/work/tie.svg","434","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134"," happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works wiustomers") 
        +work-item("work__item","assets/img/work/tie.svg","144","Works rs") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","34","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works wy customers") 
        +work-item("work__item","assets/img/work/tie.svg","139994","Works witn happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","94","Wo happy customers") 
        +work-item("work__item","assets/img/work/tie.svg","134","Works witn happers")
