hr
<!-- №1 кнопка с выездом -->
span кнопка с выездом
#btn-slide
  a.btn__hover-red.btn-6(href="#!") кнопка js
    span
hr


<!--№2 подключение инстаграмма --чтобы подключить аккаунт инстаграмма нужно в поле дата ввести продолжение адреса. например если сайт https://www.instagram.com/plsza то нужно ввести data-username="plaza"  data-count="4" это количество снимков -->
span подключение инстаграмма
.instagram-images.-one(data-username="instagram",data-count="4")
<!--  -->
<hr>

//- <!-- -------------№8-----блок залипает при прокрутке---------------- -->

.raz.bg-primary
  .sticky-container.bg-secondary
    .sticky.bg-success
      span.Text-Style-10 залипает  

hr

//- <!-- №4------блок поверх блока. если не задавать высоту и ширину он станет размером с блок. ---- -->
span блок поверх блока. top0 left0 bottom0 right0 если не задавать высоту и ширину он станет размером с блок.
.test-wrap
  .test
  .test2
<!--  -->
<hr>

//- <!-- -№5 -блок выезжает по ховеру на другой блок. можно этому блоку задать k.st свойства даже через js / например заставить его распологаться в нужном месте независимо от расположения родителя.-->
span блок выезжает по ховеру на другой блок. можно этому блоку задать k.st свойства даже через js / например заставить его распологаться в нужном месте экрана независимо от расположения родителя
.sliding-wrap#sliding-wrap навести курсор сюда
  .sliding#sliding

//- <!-- -- -->
<hr>
//- <!--№3 счетчик. листает цифры от 0 до заданного значения. цифры постепенно меняют прозрачность через скрипты 
//- spincrement-  
//- и еще один скрипт указан в index.js
//- неработатет-->
span счетчик. листает цифры от 0 до заданного значения
span.spincrement(data-from="0" data-to="100" data-dp="2")
<!--  -->
<hr>

.int-fact-counters
  .int-fct-item
    p такой же счетчик но немного другое написание кода
    .fct-counters
      span.spincrement 100
  .fct-text years to our club

<hr>

//- <!-- ---------#7-----------не работает!!!-------------------------------------- -->
.caramba-wrapper
  #caramba блок выезжает по скролу страницы Caramba
<hr>

//-----------№8------ блок выезжает плавно при достижении края окна расположения блока.
#slid(style="padding: 50px 0; background-color: blue")
  #slid-title блок выезжает плавно при скроле    