include ../utils/mixins

header#header.header
  .header__wrapper
    .container
      .header__body.row.no-gutters
        .header__logo.mr-auto.ml-4.ml-lg-0  
          img(src="assets/img/header/logo-dark.svg",alt="img") 
        .header__cross.open
          span.icon-bars-solid
        nav#header-nav.header__nav.col-md-12.col-lg-9.header-nav
          .header__logo.header__logo_white.ml-4
            img(src="assets/img/header/logo-white.svg",alt="img")
          .header__cross.close
            span.icon-times-solid
          ul.header-nav__body.row.no-gutters
            li.header-nav__item
              a.header-nav__link(href="#!") Home
            li.header-nav__item
              a.header-nav__link(href="#!") Portfolio
            li.header-nav__item
              a.header-nav__link(href="#!") About us
            li.header-nav__item
              a.header-nav__link(href="#!") What we do
            li.header-nav__item
              a.header-nav__link(href="#!") Work process
            li.header-nav__item
              a.header-nav__link(href="#!") Contact us